.input-and-button{
    width: 50vw;
    display: inline-block;
    margin: auto auto ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    overflow: hidden !important;
}


.date-picker-box{
    background-color: aliceblue;
    padding: 20px 20px;
    border-radius: 10px;
    display: flex;
    gap: 20px;
}
.input-and-button  button{
    padding: 11px 20px;
    font-size: 20px;
}
.date-picker{
    display: flex;
    gap: 20px;
}
button{
    background-color: rgb(45, 206, 8);
    color: white;
    cursor: pointer;
}
h3{
    color:green;
    font-weight: bold;
}